<!doctype html>
<html>
    <head>
        <title>BHIC Survey System</title>
        <script src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
        <script src="ngStorage.min.js"></script>
        <script src="script.js"></script>
        <link href="style.css" rel="stylesheet"></link>
    </head>
    <body class="dark-bg" data-ng-app="SurveyApp" data-ng-controller="Ctrl">
        <h1 class="secondary">Yes/No Survey</h1>
        <button type="button" class="btn btn-large yes" ng-click="vote('yes')">Yes</button>
        <button type="button" class="btn btn-large no" ng-click="vote('no')">No</button>
        <div class="active">
            <h2 class="secondary status">{{user.status === "voted" ? "You voted "+user.vote +"." : "You have NOT voted!"}}</h2>
            <h2 class="secondary results">Results: Yes - {{survey.results.yes}}. No - {{survey.results.no}}. Participants - {{survey.participants}}</h2>
        </div>
        <h3 class="secondary uuid">Your id is: {{user.id}}</h3>
        <hr>
        <h4>Debug section</h4>
        <button type="button" class="btn btn-large yes" ng-click="newSurvey()">Begin New Survey</button>
        <button type="button" class="btn btn-large no" ng-click="endSurvey()">End Survey</button>
        <button type="button" class="btn btn-large yes" ng-click="newVoter('yes')">New YES voter</button>
        <button type="button" class="btn btn-large no" ng-click="newVoter('no')">New NO voter</button>
    </body>
</html>
